{
  "openapi": "3.0.0",
  "info": {
    "title": "SKIIN GP Referral System API",
    "description": "Comprehensive backend API specifications for Swiss GP referral system with QR code generation, doctor portal, and insurance integration",
    "version": "1.0.0",
    "contact": {
      "name": "SKIIN Development Team",
      "email": "dev@skiin.ch"
    }
  },
  "servers": [
    {
      "url": "https://api.skiin.ch/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.skiin.ch/v1",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Patient Referrals",
      "description": "Patient-side referral management endpoints"
    },
    {
      "name": "Doctor Portal",
      "description": "Doctor portal authentication and referral processing"
    },
    {
      "name": "Authentication",
      "description": "JWT authentication with role-based access control"
    },
    {
      "name": "Swiss Insurance",
      "description": "Swiss insurance provider and coverage verification"
    },
    {
      "name": "Security",
      "description": "Rate limiting, audit trails, and compliance endpoints"
    }
  ],
  "paths": {
    "/referrals/generate": {
      "post": {
        "tags": ["Patient Referrals"],
        "summary": "Generate GP referral package with QR/6-digit code",
        "description": "Creates a referral package with QR code and 6-digit code for GP access. Includes PDF generation and delivery options.",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Referral package generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/referrals/patient/{userId}": {
      "get": {
        "tags": ["Patient Referrals"],
        "summary": "List patient's referrals",
        "description": "Retrieve all referrals for a specific patient with status and usage tracking",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["draft", "sent", "received", "accepted", "rejected", "expired"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of patient referrals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientReferralsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/referrals/{id}/package": {
      "get": {
        "tags": ["Patient Referrals"],
        "summary": "Download referral PDF package",
        "description": "Download the complete referral package including QR code, patient information, and clinical summary",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF referral package",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/referrals/{id}/resend": {
      "post": {
        "tags": ["Patient Referrals"],
        "summary": "Resend referral via email/SMS",
        "description": "Resend referral package via email or SMS with rate limiting and delivery tracking",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendReferralRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Referral resent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResendReferralResponse"
                }
              }
            }
          }
        }
      }
    },
    "/referrals/{id}/status": {
      "get": {
        "tags": ["Patient Referrals"],
        "summary": "Check referral status and usage",
        "description": "Get current status of referral including GP access history and processing status",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Referral status information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/referrals/validate": {
      "post": {
        "tags": ["Doctor Portal"],
        "summary": "Validate QR code or 6-digit code",
        "description": "Validate referral access code and authenticate doctor before granting access to referral details",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralValidationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Invalid or expired code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/referrals/{id}/details": {
      "get": {
        "tags": ["Doctor Portal"],
        "summary": "Get referral details after validation",
        "description": "Retrieve complete referral information including patient data, clinical summary, and medical history",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complete referral details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/referrals/{id}/submit": {
      "post": {
        "tags": ["Doctor Portal"],
        "summary": "Submit doctor's referral response",
        "description": "Submit GP response including recommendations, prescriptions, and follow-up instructions",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoctorResponseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoctorResponseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/referrals/{id}/documents": {
      "post": {
        "tags": ["Doctor Portal"],
        "summary": "Upload referral documents",
        "description": "Upload medical documents, prescriptions, or referral letters with encryption and secure storage",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documents uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/doctor/referrals": {
      "get": {
        "tags": ["Doctor Portal"],
        "summary": "List doctor's processed referrals",
        "description": "Retrieve all referrals processed by the authenticated doctor with filtering and pagination",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["received", "accepted", "rejected"]
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of doctor's referrals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoctorReferralsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authenticate user with JWT token",
        "description": "Login with email/phone and password, returns JWT token with role-based claims",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/otp/send": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Send OTP for passwordless authentication",
        "description": "Send OTP via email or SMS with rate limiting and security controls",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OTPSendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTPSendResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/otp/verify": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Verify OTP code",
        "description": "Verify OTP code with rate limiting and automatic account creation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OTPVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTPVerifyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/hin/verify": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Verify Swiss Medical HIN credentials",
        "description": "Verify doctor credentials using Swiss Health Info Network (HIN) integration",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HINVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HIN credentials verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HINVerificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh JWT token",
        "description": "Refresh expired JWT token using refresh token",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insurance/providers": {
      "get": {
        "tags": ["Swiss Insurance"],
        "summary": "List Swiss insurance companies",
        "description": "Get all active Swiss health insurance providers with coverage details",
        "parameters": [
          {
            "name": "canton",
            "in": "query",
            "description": "Filter by Swiss canton",
            "schema": {
              "type": "string",
              "enum": ["AG", "AI", "AR", "BE", "BL", "BS", "FR", "GE", "GL", "GR", "JU", "LU", "NE", "NW", "OW", "SG", "SH", "SO", "SZ", "TG", "TI", "UR", "VD", "VS", "ZG", "ZH"]
            }
          },
          {
            "name": "hasApiIntegration",
            "in": "query",
            "description": "Filter by API integration availability",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of insurance providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceProvidersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insurance/verify": {
      "post": {
        "tags": ["Swiss Insurance"],
        "summary": "Verify patient insurance coverage",
        "description": "Verify insurance coverage for SKIIN services with real-time API integration",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsuranceVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Insurance verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceVerificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insurance/{provider}/requires-referral": {
      "get": {
        "tags": ["Swiss Insurance"],
        "summary": "Check if GP referral required",
        "description": "Check if specific insurance provider/model requires GP referral for SKIIN services",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["standard", "flex", "hmo", "hausarzt", "telmed"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Referral requirement information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralRequirementResponse"
                }
              }
            }
          }
        }
      }
    },
    "/security/audit": {
      "post": {
        "tags": ["Security"],
        "summary": "Log audit trail events",
        "description": "Record security-relevant events for compliance and monitoring",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditLogRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Audit log created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/security/gdpr/export": {
      "post": {
        "tags": ["Security"],
        "summary": "Export user data (GDPR compliance)",
        "description": "Export all user data for GDPR data portability requests",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GDPRExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data export initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDPRExportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/security/gdpr/delete": {
      "delete": {
        "tags": ["Security"],
        "summary": "Delete user data (GDPR compliance)",
        "description": "Permanently delete user data for GDPR right to erasure requests",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["user_request", "account_closure", "legal_requirement"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data deletion initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GDPRDeleteResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ReferralGenerationRequest": {
        "type": "object",
        "required": ["userId", "clinicalSummary", "deliveryMethod"],
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "Patient user ID"
          },
          "clinicalSummary": {
            "type": "object",
            "properties": {
              "symptoms": {
                "type": "array",
                "items": {"type": "string"},
                "description": "Patient reported symptoms"
              },
              "riskFactors": {
                "type": "array",
                "items": {"type": "string"},
                "description": "Cardiac risk factors"
              },
              "medications": {
                "type": "array",
                "items": {"type": "string"},
                "description": "Current medications"
              },
              "medicalHistory": {
                "type": "string",
                "description": "Relevant medical history"
              },
              "eligibilityScore": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100,
                "description": "SKIIN eligibility score"
              }
            }
          },
          "deliveryMethod": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "phone": {
                "type": "string",
                "pattern": "^\\+41[0-9]{9}$"
              },
              "generatePDF": {
                "type": "boolean",
                "default": true
              }
            }
          },
          "gpPreferences": {
            "type": "object",
            "properties": {
              "preferredLanguage": {
                "type": "string",
                "enum": ["de", "fr", "it", "en"],
                "default": "de"
              },
              "includeDiagnosticRecommendations": {
                "type": "boolean",
                "default": true
              }
            }
          }
        }
      },
      "ReferralGenerationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "referralId": {
                "type": "string",
                "format": "uuid"
              },
              "qrCode": {
                "type": "string",
                "description": "Base64 encoded QR code image"
              },
              "accessCode": {
                "type": "string",
                "pattern": "^[0-9]{6}$",
                "description": "6-digit numeric access code"
              },
              "pdfUrl": {
                "type": "string",
                "format": "uri",
                "description": "Secure URL for PDF download"
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time"
              },
              "deliveryStatus": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "enum": ["sent", "failed", "pending"]
                  },
                  "sms": {
                    "type": "string",
                    "enum": ["sent", "failed", "pending", "not_requested"]
                  }
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ReferralValidationRequest": {
        "type": "object",
        "required": ["accessCode", "doctorCredentials"],
        "properties": {
          "accessCode": {
            "type": "string",
            "description": "QR code data or 6-digit code"
          },
          "doctorCredentials": {
            "type": "object",
            "properties": {
              "hinNumber": {
                "type": "string",
                "pattern": "^HIN[0-9]{7}$",
                "description": "Swiss HIN number"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "practiceName": {
                "type": "string"
              }
            }
          }
        }
      },
      "ReferralValidationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "valid": {
                "type": "boolean"
              },
              "referralId": {
                "type": "string",
                "format": "uuid"
              },
              "patientInfo": {
                "type": "object",
                "properties": {
                  "initials": {
                    "type": "string",
                    "description": "Patient initials only for privacy"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date",
                    "description": "Partial DOB (month/year only)"
                  },
                  "gender": {
                    "type": "string",
                    "enum": ["M", "F", "X"]
                  }
                }
              },
              "accessToken": {
                "type": "string",
                "description": "JWT token for accessing referral details"
              },
              "expiresIn": {
                "type": "integer",
                "description": "Token expiry in seconds"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ReferralDetailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "referralId": {
                "type": "string",
                "format": "uuid"
              },
              "patient": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "contact": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "phone": {
                        "type": "string"
                      }
                    }
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street": {"type": "string"},
                      "city": {"type": "string"},
                      "postalCode": {"type": "string"},
                      "canton": {"type": "string"}
                    }
                  }
                }
              },
              "clinicalData": {
                "type": "object",
                "properties": {
                  "symptoms": {
                    "type": "array",
                    "items": {"type": "string"}
                  },
                  "riskFactors": {
                    "type": "array",
                    "items": {"type": "string"}
                  },
                  "medications": {
                    "type": "array",
                    "items": {"type": "string"}
                  },
                  "medicalHistory": {
                    "type": "string"
                  },
                  "eligibilityScore": {
                    "type": "integer"
                  },
                  "recommendedTests": {
                    "type": "array",
                    "items": {"type": "string"}
                  }
                }
              },
              "insurance": {
                "type": "object",
                "properties": {
                  "provider": {"type": "string"},
                  "model": {"type": "string"},
                  "number": {"type": "string"},
                  "coverageVerified": {"type": "boolean"}
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "role": {
            "type": "string",
            "enum": ["patient", "doctor", "admin"],
            "default": "patient"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "accessToken": {
                "type": "string"
              },
              "refreshToken": {
                "type": "string"
              },
              "expiresIn": {
                "type": "integer"
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {"type": "string"},
                  "email": {"type": "string"},
                  "role": {"type": "string"},
                  "verified": {"type": "boolean"}
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "OTPSendRequest": {
        "type": "object",
        "required": ["contactMethod", "contactValue"],
        "properties": {
          "contactMethod": {
            "type": "string",
            "enum": ["email", "sms"]
          },
          "contactValue": {
            "type": "string",
            "description": "Email address or phone number"
          },
          "purpose": {
            "type": "string",
            "enum": ["login", "verification", "password_reset"],
            "default": "login"
          }
        }
      },
      "OTPSendResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "sent": {
                "type": "boolean"
              },
              "deliveryMethod": {
                "type": "string"
              },
              "expiresIn": {
                "type": "integer",
                "description": "OTP expiry in seconds"
              },
              "nextAllowedRequest": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "InsuranceProvidersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {"type": "string"},
                "name": {"type": "string"},
                "shortName": {"type": "string"},
                "website": {"type": "string"},
                "phone": {"type": "string"},
                "regions": {
                  "type": "array",
                  "items": {"type": "string"}
                },
                "models": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {"type": "string"},
                      "name": {"type": "string"},
                      "requiresReferral": {"type": "boolean"},
                      "coveragePercentage": {"type": "number"}
                    }
                  }
                },
                "apiEnabled": {"type": "boolean"}
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "details": {
                "type": "object",
                "description": "Additional error context"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string",
            "default": "1.0"
          },
          "requestId": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - validation errors",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests - rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}